name: Cypress Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
    - name: Install dependencies
      run: npm ci
    - name: Run Cypress Tests
      run: npm run cypress:run
    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: videos
        path: cypress/videos/
        retention-days: 30
    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: screenshots
        path: cypress/screenshots/
        retention-days: 30
